-# #backColor
#plofile
  -# top================================================
  .top
    .top__profile
      Profile
    .top__photo
      =image_tag("myphoto.jpg")
    .top__text
      まず初めに、私のポートフォリオをご覧いただきありがとうございます。
      %br このページは、プログラミングとはなんら関係のない自己紹介のためのページです。
      わたしがどこで生まれ、育ち、何を経験してきたのか。
      %br オカヤマカナタ という人間を、少しでも知っていただきたい。と思い作成いたしました。
  -# main================================================
  .main
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          1992年
        .main__contentsBlock__upper--what
          大阪府大阪市西成区に生まれる。
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            小児ぜんそくを持って生まれ、こどもの頃は体が弱かったのですが
            %br ディープな街西成で、元気に,平和に育ちました。
            「はるか彼方、大空へ」という想いをこめて
            %br この"カナタ"という名前がつけられました。気に入っています。
            この頃から飛んでますね。
          =image_tag("baby.jpg",class:"main__contentsBlock__lower__right--photo")
    -# contents2------------------------------------------------
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          2008年
        .main__contentsBlock__upper--what
          地元の高校へ進学
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            小学校、中学校、高校と、地元を離れることはなく、
            %br どこへいくにも自転車での移動。
            家から高校までは自転車で、7分36秒。
            %br 朝が苦手で、ギリギリまで寝ているために
            実際に測定しました。でも、よく遅刻しました。
    -# contents3------------------------------------------------
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          2011年
        .main__contentsBlock__upper--what
          浪人生としての一年
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            1浪し、同志社大学に進学しました。
            %br ボランティアで不登校の子供達に勉強を教えていた浪人時代。
            今の私の価値観を作り上げた1年でした。
            %br 人と深く関わることが苦手だった私が、
            一人一人と深く関わり、一人一人に真摯に向き合う。
            %br ということに大きな価値を感じるようになりました。
          =image_tag("IMG_3818.jpg",class:"main__contentsBlock__lower__right--photo")
    -# contents4------------------------------------------------
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          2013年
        .main__contentsBlock__upper--what
          スターバックスコーヒーでのアルバイト
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            モテたい。そんな不純な動機で働き始めた、スターバックス。
            %br ここでは一生寄り添っていきたい趣味と出会うことができました。
            コーヒーです。黒い苦い液体。
            %br こんなものでさえ、理解しきれない程の奥深さがあることを知り、
            一つのものを突き詰めていく喜びの第一歩を
            %br スターバックスは与えてくれました。モテませんでした。
          =image_tag("starbacks.jpg",class:"main__contentsBlock__lower__right--photo")
    -# contents4------------------------------------------------
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          2014年
        .main__contentsBlock__upper--what
          世界一のバリスタの元でのアルバイト
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            ラテアートの世界にも興味が湧いた私は、
            %br 世界大会で優勝したバリスタの元でラテアートを学びました。
            ラテアートはなくても良い無駄なものです。誰も困りません。
            %br 口をつければ崩れてしまう。その一瞬のためだけに、
            些細なこだわりをいくつも詰め込み、より良いものを目指す。
            %br こだわりを持って、取り組み続けることの楽しさを知りました。
          =image_tag("latteart.jpg",class:"main__contentsBlock__lower__right--photo")
    -# contents5------------------------------------------------
    .main__contentsBlock
      .main__contentsBlock--btn
      .main__contentsBlock__upper
        .main__contentsBlock__upper--when
          2020年
        .main__contentsBlock__upper--what
          プログラミングの世界へ
      .main__contentsBlock__lower
        .main__contentsBlock__lower__left
        .main__contentsBlock__lower__right
          .main__contentsBlock__lower__right--text
            それが、オカヤマカナタという人間です。
            %br 一人との関わりを大切にし、
            一つのものをつきつめ、
            %br 一瞬のためにこだわりを持ち続ける。
            これからは、そんなエンジニアとして成長していきます。
-# footer================================================
= render "/templates/footer"