.skills__main
  %ul.skills__main__upperBlock
    -@categories.each do |skill|
      %li.skills__main__upperBlock__contentBox
        .skills__main__upperBlock__contentBox--icon
          =embedded_svg(skill.icon,class:"svgIcon")
        .skills__main__upperBlock__contentBox--name
          %h2=skill.name

