.skills__main
  %ul.skills__main__upperBlock
    -@categories.each do |skill|
      %li.skills__main__upperBlock__contentBox
        .skills__main__upperBlock__contentBox--icon
          =embedded_svg(skill.icon,class:"svgIcon")
        .skills__main__upperBlock__contentBox--name
          %h2=skill.name
  -@categories.each do |skill|
    .skills__main__lowerBlock
      .skills__main__lowerBlock--name
        %h1=skill.name
      -skill.contents.each do |content|
        .skills__main__lowerBlock__content
          .skills__main__lowerBlock__content--leftCircle
          .skills__main__lowerBlock__content--centerName
            =content.name
          =link_to(content_path(content.id)) do
            .skills__main__lowerBlock__content__rightBtn
              %h2.skills__main__lowerBlock__content__rightBtn--text 
                SHOW MORE
              .skills__main__lowerBlock__content__rightBtn--icon 
                =fa_icon "long-arrow-right"
  .skills__main__otherBlock
    .skills__main__otherBlock--heading
      %h2 THE OTHERS
    .skills__main__otherBlock__contentBox
      .skills__main__otherBlock__contentBox__content
        .skills__main__otherBlock__contentBox__content--icon
          =embedded_svg("icons/database.svg",class:"svgIcon")
        .skills__main__otherBlock__contentBox__content--name
          %h2 SQL
      .skills__main__otherBlock__contentBox__content
        .skills__main__otherBlock__contentBox__content--icon
          =embedded_svg("icons/git.svg",class:"svgIcon")
        .skills__main__otherBlock__contentBox__content--name
          %h2 GIT
      .skills__main__otherBlock__contentBox__content
        .skills__main__otherBlock__contentBox__content--icon
          =embedded_svg("icons/terminal.svg",class:"svgIcon")
        .skills__main__otherBlock__contentBox__content--name
          %h2 TERMINAL
      .skills__main__otherBlock__contentBox__content
        .skills__main__otherBlock__contentBox__content--icon
          =embedded_svg("icons/trello.svg",class:"svgIcon")
        .skills__main__otherBlock__contentBox__content--name
          %h2 TRELLO
      .skills__main__otherBlock__contentBox__content
        .skills__main__otherBlock__contentBox__content--icon
          =embedded_svg("icons/visualstudio.svg",class:"svgIcon")
        .skills__main__otherBlock__contentBox__content--name
          %h2 VS CODE