.works__contentsBox
  .works__contentsBox__photoBlock
    =image_tag(content.infomations.first.image.to_s)
  .works__contentsBox__textBlock
    .works__contentsBox__textBlock__left
      .works__contentsBox__textBlock__left--name
        =content.name
      %table.works__contentsBox__textBlock__left__info
        %tr
          %th DATE
          %td="#{content.created_at.strftime('%Y.%m')}"
        %tr
          %th LANGUAGE
          %td 
            -content.categories.each do|language|
              ="#{language.name}"
    .works__contentsBox__textBlock__right
      =link_to(content_path(content.id)) do
        .works__contentsBox__textBlock__right__moreBtn.linkBtn
          %p SHOW MORE
          .works__contentsBox__textBlock__right__moreBtn--icon.arrow
            =fa_icon "long-arrow-right"
.separateLine

