.works__main
  .works__main__contentsBox
    .works__main__contentsBox__upperBlock
      .works__main__contentsBox__upperBlock__textBox
        %h2 FURIMA
      .works__main__contentsBox__upperBlock__imageBox
        =image_tag("/uploads/content/overview/2/overview.png")
    .works__main__contentsBox__lowerBlock
      .works__main__contentsBox__lowerBlock--topText
        初めてのアプリケーション。
      %table.works__main__contentsBox__lowerBlock__infomations
        %tr
          %th DATE
          %td 2020.04
        %tr
          %th LANGUAGE
          %td ruby,HTML
      .works__main__contentsBox__lowerBlock__linkBtn
  .works__main__contentsBox
    .works__main__contentsBox__upperBlock
    .works__main__contentsBox__lowerBlock