.main__contentsWrapper__content
  .main__contentsWrapper__content--image
    = info.image
  .main__contentsWrapper__content--textHeading
    = info.heading
  .main__contentsWrapper__content--text
    = info.text
