.works__contentsBox
  .works__contentsBox__photoBlock
    =link_to(content_path(content.id)) do
      =image_tag(content.infomations.first.image.to_s)
    .works__contentsBox__photoBlock__label
      .works__contentsBox__photoBlock__label--appName
        = content.name
      .works__contentsBox__photoBlock__label--language
        Language
      .works__contentsBox__photoBlock__label__categoryBox
        - content.categories.each do |icon|
          .works__contentsBox__photoBlock__label__categoryBox--icon{style: "background-color:#{icon.color}"}
.works__linkBox
  CLICK
  =fa_icon "chevron-right"

