.main__contentsWrapper__content
  = image_tag( info.image.to_s ,class:"main__contentsWrapper__content--image")
  .main__contentsWrapper__content--textHeading
    = info.heading
  .main__contentsWrapper__content--text
    = info.text
