.profile__main
  .profile__main__imageWrapper
  .profile__main__btn.next
    =fa_icon "long-arrow-right"
  .profile__main__btn.prev
    =fa_icon "long-arrow-left"
  %ul.profile__main__textHeader
    %li ABOUT ME
    %li CARRER
    %li EXPERIENCE
    %li HOBBY
  %ul.profile__main__lowerBox
    %li.profile__main__lowerBox__wrapper
      .profile__main__lowerBox__wrapper__introduceA1
        .profile__main__lowerBox__wrapper__introduceA1--heading
          岡山 叶太
          %br 
          %span 1992.06.09
        .profile__main__lowerBox__wrapper__introduceA1--text
          まずはじめに、私のポートフォリオをご覧いただきありがとうございます。プロフィールには、プログラミングとは関係のない趣味やアルバイト経験なども記載しています。すこしでも私の人となりを伝えたいと思い作成いたしました。お時間ございましたらぜひご覧ください。
      .profile__main__lowerBox__wrapper__introduceA2
        .profile__main__lowerBox__wrapper__introduceA2--text
          ふたご座、B型、3623gの男の子として、大阪府大阪市西成区に生まれました。小児ぜんそくを持って生まれ、こどもの頃は体が弱かったのですが、小学校、中学校、高校と、地元を離れることはなくディープな街西成で元気に平和に育ちました。「遥か彼方大空へ。夢を叶えることのできるように」という思いを込めて、この"カナタ"という名前がつけられました。とても気に入っている名前です。この名に恥じないエンジニアを目指します。
    %li.profile__main__lowerBox__wrapper
      .profile__main__lowerBox__wrapper__introduceB1
        .profile__main__lowerBox__wrapper__introduceB1--heading
          同志社大学心理学部 卒業
          %br 
          %span 2018
        .profile__main__lowerBox__wrapper__introduceB1--text
          心理学実験、そしてそのデータの分析を繰り返す中で、自らの主張や論理を組み立てる力、現象を客観的に観察・分析する力、そして、得られた実証データについて主体的に発信する力を身につけました。
      .profile__main__lowerBox__wrapper__introduceB2
        .profile__main__lowerBox__wrapper__introduceB2--heading
          日本郵便株式会社 入社
          %br
          %span 2018 - 2020
        .profile__main__lowerBox__wrapper__introduceB2--text
          郵便局の窓口職員として、郵便・銀行・生命保険の3事業の事務および営業に幅広く従事していました。いずれも、100％の正確さとスピーディーな作業効率の両立が求められる仕事でした。
      .profile__main__lowerBox__wrapper__introduceB3
        .profile__main__lowerBox__wrapper__introduceB3--heading
          TECH::CAMP にて学習開始
          %br
          %span 2020
        .profile__main__lowerBox__wrapper__introduceB3--text
          お客様に提供する"モノ"を「自らの手で創り上げたい」という想いのもと、エンジニアとして生きることを決意いたしました。新しい技術を知ることに喜びを感じながら、日々の学習に励んでいます。
    %li.profile__main__lowerBox__wrapper
      .profile__main__lowerBox__wrapper__introduceB1
        .profile__main__lowerBox__wrapper__introduceB1--heading
          志塾フリースクール
          %br
          %span 2012 - 2016
        .profile__main__lowerBox__wrapper__introduceB1--text
          塾講師として、受験生の理・数・現を教えながら、不登校の子供たちに対してのケアスタッフとしても働いていました。一人一人と深く関わり、真摯に向き合うことの大切さを知ることができました。
      .profile__main__lowerBox__wrapper__introduceB2
        .profile__main__lowerBox__wrapper__introduceB2--heading
          STERBACKS COFFEE
          %br
          %span 2013 - 2017
        .profile__main__lowerBox__wrapper__introduceB2--text
          モテたい。という不純な動機で働き始めたスターバックスでしたが、お客様にいかに気持ちよく利用していただけるかを悩み、試行錯誤する楽しさやその難しさを知りました。モテませんでした。
      .profile__main__lowerBox__wrapper__introduceB3
        .profile__main__lowerBox__wrapper__introduceB3--heading
          MONDIAL KAFFEE328
          %br 
          %span 2014 -
        .profile__main__lowerBox__wrapper__introduceB3--text
          スターバックスでコーヒーの奥深さを知り、ラテアートの世界一が在籍するカフェで働き始めました。一瞬の感動のために、些細なこだわりをいくつも詰め込みより良いものを追求し続ける喜びを知りました。
    %li.profile__main__lowerBox__wrapper
      .profile__main__lowerBox__wrapper__introduceB1
        .profile__main__lowerBox__wrapper__introduceB1--heading
          COFFEE
        .profile__main__lowerBox__wrapper__introduceB1--text
          お湯の温度、注ぐ速さ、位置、回数、豆の量、鮮度、細かさ、いくつもの項目を記録しながら抽出を行なっています。ラテアートや、焙煎も行なっています。思い通りに抽出できないこと、描けないこと、焼けないことが楽しく、奥が深いです。
      .profile__main__lowerBox__wrapper__introduceB2
        .profile__main__lowerBox__wrapper__introduceB2--heading
          CAMERA
        .profile__main__lowerBox__wrapper__introduceB2--text
          ミーハー精神で購入したカメラでしたが、スマホで撮る写真とは違い「イメージ通りになかなか撮れない」ことが楽しく、どうすればイメージを実現できるのか試行錯誤することが何より楽しいです。最近は LightRoom を使用した現像作業の練習中です。
      .profile__main__lowerBox__wrapper__introduceB3
        .profile__main__lowerBox__wrapper__introduceB3--heading
          FASHION
        .profile__main__lowerBox__wrapper__introduceB3--text
          衣・食・住なら"衣"に振り切っています。流行には全力で『流されます』。今流行っているものを自分に合うよう無理やりにでも落とし込みます。それが上手くいったとき、その服を着て歩くだけで楽しい。私にとって、服は自己表現というより自己満足のための道具です。
  %ul.profile__main__circleBox
    %li.profile__main__circleBox--circle
    %li.profile__main__circleBox--circle
    %li.profile__main__circleBox--circle
    %li.profile__main__circleBox--circle
