.indexPage
  .topPhoto
    .topPhoto__topMessage
  .about
    .about__profile
      Profile
    .about__skills
      Skills
  .works
    .works__applications
      Applications
    .works__websites
      Websites