= render "/templates/header"
#index
  -# top================================================
  .top
    .top__text1
      %h1 I'M
      .underLine
    .top__text2
      %h1 KANATA
      .underLine
    .top__text3
      %h1 OKAYAMA
      .underLine
  -# profile================================================
  .profile
    .profile__hedding
      %h1 PROFILE
    .profile__main
      .profile__main__imageWrapper
      .profile__main__btnNext
        =fa_icon "long-arrow-right"
      .profile__main__btnPrev
        =fa_icon "long-arrow-left"
      %ul.profile__main__textHeader
        %li CARRER
      %ul.profile__main__lowerBox
        %li.profile__main__lowerBox__wrapper
          .profile__main__lowerBox__wrapper__introduce
            .profile__main__lowerBox__wrapper__introduce--heading
              同志社大学
              %br 心理学部心理学科卒業
              %span 2018
            .profile__main__lowerBox__wrapper__introduce--text
              自らの主張や論理を組み立てる力、現象を客観的に観察・分析する力、そして、得られた実証データについて主体的に発信する力を身につけました。
          .profile__main__lowerBox__wrapper__introduce
            .profile__main__lowerBox__wrapper__introduce--heading
              日本郵便株式会社
              %br 窓口職員として入社
              %span 2018 - 2020
            .profile__main__lowerBox__wrapper__introduce--text
              郵便局の窓口職員として、郵便・銀行・保険の3事業に幅広く従事していました。いずれも、些細なミスも許されない環境でスピーディーな仕事を求められました。
          .profile__main__lowerBox__wrapper__introduce
            .profile__main__lowerBox__wrapper__introduce--heading
              エンジニア転職を志し
              %br TECH::CAMPにて学習を開始
              %span 2020
            .profile__main__lowerBox__wrapper__introduce--text
              「自らの手で創り上げたい」という想いのもと、エンジニアとして生きることを決意いたしました。日々の学習が、「楽しい」と感じることができています。
      %ul.profile__main__circleBox
        %li.profile__main__circleBox--circle
        %li.profile__main__circleBox--circle.active
        %li.profile__main__circleBox--circle
        %li.profile__main__circleBox--circle
  -# skills================================================
  .skills
    .skills__hedding
      %h1 SKILLS
    .skills__topText
      2020年。エンジニア転職を決意しプログラミング学習に取り組んできました。実務経験はまだありませんが、現時点での "岡山叶太" のスキルです。
      %br 常に楽しみ、常に突き詰め、常に挑戦し、エンジニアとして成長し続けます。
    = render "category"
  -# works================================================
  .works
    .works__hedding
      %h1 WORKS
    .works__topText
      2020年。エンジニア転職を決意しプログラミング学習に取り組んできました。
      %br 実務経験はまだありませんが、現時点での "オカヤマ カナタ" のスキルです。
    = render @contents
-# footer================================================
= render "/templates/footer"


