= render "/templates/menu"
#index
  -# top================================================
  .top
    .top__textBox
      %h1.top__textBox__text1
        I'M
        .underLine
      %h1.top__textBox__text2
        KANATA
        .underLine
      %h1.top__textBox__text3
        OKAYAMA.
        .underLine
  -# profile================================================
  .profile
    %h1.profile__heading.slideIn
      PROFILE
    = render "profile"
  -# skills================================================
  .skills
    %h1.skills__heading.slideIn
      SKILLS
    = render "category"
  -# works================================================
  .works
    %h1.works__heading.slideIn
      WORKS
    .works__main.fadeIn
      = render @contents
  -# footer================================================
  .last
    %h3.last--message
      THANK YOU 
