.indexPage
  -# top================================================
  .topPhoto
    .topPhoto__topMessage
  -# about================================================
  .about
    -# profile------------------------------------------------
    .about__profile
      .about__profile--headding
        Profile
      #line
      .about__profile__textBox
        .about__profile__textBox--textUpper
        .about__profile__textBox--textMiddle
        .about__profile__textBox--textLower
      = link_to("#",class:"about__profile__linkBox") do 
        .about__profile__linkBox--text
          more...
        .about__profile__linkBox--icon
    -# skills------------------------------------------------
    .about__skills
      .about__skills--headding
        Skills
      #line
      %ul.about__skills__boxes
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            HTML
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            css
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            ruby
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            rails
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            JS
        %li.about__skills__boxes__box
          .about__skills__boxes__box--icon
            SQL
  -# works================================================
  .works
    -# applications------------------------------------------------
    .works__applications
      .works__applications--headding
        Applications
    -# websites------------------------------------------------
    .works__websites
      .works__websites--headding
        Websites