.indexPage
  .topPhoto
    .topPhoto__topMessage
  .about
    .about__profile
      .about__profile--headding
        Profile
      #line
    .about__skills
      .about__skills--headding
        Skills
      #line
  .works
    .works__applications
      Applications
    .works__websites
      Websites