#show
  .contentBox
    =image_tag(@content.infomations.first.image.to_s ,class:"contentBox__image contentBox__active")
    =image_tag(@content.infomations.second.image.to_s ,class:"contentBox__image")
    =image_tag(@content.infomations.third.image.to_s ,class:"contentBox__image")
    =image_tag(@content.infomations.fourth.image.to_s ,class:"contentBox__image")
    =image_tag(@content.infomations.fifth.image.to_s ,class:"contentBox__image")

