= render "/templates/menu"
#show
  -# top================================================
  .top
    .top__textBox
      %h1.top__textBox--name
        =@content.name
        .underLine
  -# ditail================================================
  .ditail
    %h1.ditail__heading.slideIn
      DITAIL
    = render "ditail"