#show
  .header
    .header--name
      = @content.name
  .slide
    =fa_icon "chevron-left next"
    =fa_icon "chevron-right back"
  %ul.contentBox
    %li=image_tag(@content.infomations.first.image.to_s ,class:"contentBox__image active")
    %li=image_tag(@content.infomations.second.image.to_s ,class:"contentBox__image")
    %li=image_tag(@content.infomations.third.image.to_s ,class:"contentBox__image")
    %li=image_tag(@content.infomations.fourth.image.to_s ,class:"contentBox__image")
    %li=image_tag(@content.infomations.fifth.image.to_s ,class:"contentBox__image")
  %ul.btnWrapper
    %li.btnWrapper--btn.active
    %li.btnWrapper--btn
    %li.btnWrapper--btn
    %li.btnWrapper--btn
    %li.btnWrapper--btn
