.topDisplay
  .topDisplay--opasity
    .wellcomeBox
      .wellcomeBox__message
        wellcome
        %br
        My portofolio!!
        %br
        thank you!
      .wellcomeBox__linkBtn
        =link_to "Push!!",contents_path, class:"wellcomeBtn"
    .topContent
      I'AM 
      %br
      KANATA
      %br
      OKAYAMA
