.topDisplay
  .topDisplay--opasity
    .wellcomeBox
      .wellcomeBox__message
        wellcome
        %br
        My portofolio!!
        %br
        %br
        %br
        push the button
      = link_to(contents_path, class:"wellcomeBox__linkBtn") do
        %p push!!
    .topContent
      KANATA OKAYAMA
      .lowContent
        engineer
