.fadeIn{
  opacity: 0;
  transform: translateY(30vh);
  transition-duration: 2s;
}
.slideIn{
  opacity: 0;
  transform: translateX(-20vw);
  transition-duration: 2s;
}
.scrollIn{
  opacity: 1;
  transform: translateY(0);
}