$black:rgb(50,50,50);
$gray:rgb(175, 174, 174);
$l_gray:rgb(226, 226, 226);
$blue:rgb(196, 242, 252);
$d_brown:rgb(207, 191, 177);

$base1:rgb(240, 82, 42);
$base2:rgb(62, 60, 65);
$base3:rgb(247, 238, 224);

