#footer
  -if request.path == root_path 
    .footerLinks
      .footerLinks--profile.jumpBtn
        PROFILE
        .footerLinks--line
      .footerLinks--skills.jumpBtn
        SKILLS
        .footerLinks--line
      .footerLinks--works.jumpBtn
        WORKS
        .footerLinks--line
  - else
    .footerLinks
      .footerLinks--back.jumpBtn
        =link_to("BACK",root_path)
        .footerLinks--line

