#footer
  -if request.path == root_path 
    .footerLinks
      .footerLinks--profile
        Profile
        .footerLinks--line
      .footerLinks--skills
        Skills
        .footerLinks--line
      .footerLinks--works
        Works
        .footerLinks--line
  - else
    .footerLinks
      =link_to("Back",root_path,class:"footerLinks--back")

