#header
  .login
    -if !User.exists?
      =link_to("サインアップ",new_user_registration_path)
    -elsif !user_signed_in?
      =link_to("ログイン",new_user_session_path)
    -else
      =link_to("ログアウト",destroy_user_session_path,method: :delete)
  -if user_signed_in?
    .menu
      .menu--category
        =link_to("カテゴリー",new_category_path)
      .menu--contents
        =link_to("コンテンツ",new_content_path)


