#header
  -if !User.exists?
    .login
      =link_to("signup",new_user_registration_path,class:"login--signedOut")
  -elsif !user_signed_in?
    .login
      =link_to("login",new_user_session_path,class:"login--signedOut")
  -if user_signed_in?
    .menu
      .menu--logout
        =link_to("logout",destroy_user_session_path,method: :delete)
      .menu--category
        =link_to("category",new_category_path)
      .menu--contents
        =link_to("NEW content",new_content_path)
      -if request.path.match(/\/contents\/\d++$/)
        .menu--edit
          =link_to("EDIT content",edit_content_path(params[:id]))

