#header
  = fa_icon "bars"
.links
  =link_to("カテゴリ登録",new_category_path)
  =link_to("カテゴリ編集","#")
  =link_to("アプリ登録",new_content_path)
  =link_to("アプリ編集",edit_content_path(1))
  =link_to("ユーザー登録","#")
  =link_to("ユーザー編集","#")