-if !User.exists?
  =link_to("サインアップ",new_user_registration_path,id:"login")
-elsif user_signed_in?
  =link_to("ログアウト",destroy_user_session_path,method: :delete,id:"login")
-else
  =link_to("ログイン",new_user_session_path,id:"login")

