#menu
  .menuBtn
    .menuBtn--topBar
    .menuBtn--centerBar
    .menuBtn--underBar
  -if request.path == root_path 
    .menuModal
      %ul.menuModal__profile
        %h2 PROFILE
        %li.menuModal__profile--list
          ABOUT ME
        %li.menuModal__profile--list
          CARRER
        %li.menuModal__profile--list
          EXPERIENCE
        %li.menuModal__profile--list
          HOBBY
      %ul.menuModal__skills
        %h2 SKILLS
        -@categories.each do |skill|
          %li.menuModal__skills--list
            =skill.name
      .menuModal__works
        %h2 WORKS
        -@contents.each do |content|
          %li.menuModal__works--list
            =content.name
  -else
    .menuModal
      .menuModal--top
        %h2=link_to("TOP",root_path)