#menu
  .menuBtn
    .menuBtn--topBar
    .menuBtn--centerBar
    .menuBtn--underBar
  -if request.path == root_path 
    .menuModal
      .menuModal--profile
        %h2 PROFILE
      .menuModal--skills
        %h2 SKILLS
      .menuModal--works
        %h2 WORKS
  -else
    .menuModal
      .menuModal--top
        %h2=link_to("TOP",root_path)