#menu
  .menuBtn
    .menuBtn--topBar
    .menuBtn--centerBar
    .menuBtn--underBar
  -if request.path == root_path 
    .menuModal
      %ul.menuModal__profile
        %h2.menuModal__profile--heading 
          PROFILE
        =fa_icon "angle-down"
        %li.menuModal__profile--list
          ABOUT ME
        %li.menuModal__profile--list
          CARRER
        %li.menuModal__profile--list
          EXPERIENCE
        %li.menuModal__profile--list
          HOBBY
      %ul.menuModal__skills
        %h2.menuModal__profile--heading
          SKILLS
        =fa_icon "angle-down"
        -@categories.each do |skill|
          %li.menuModal__skills--list
            =skill.name
      .menuModal__works
        %h2.menuModal__profile--heading
          WORKS
        =fa_icon "angle-down"
        -@contents.each do |content|
          %li.menuModal__works--list
            =content.name
  -else
    .menuModal
      .menuModal--home
        %h2=link_to("HOME",root_path)