#footer{
  display: none;
  background-color: black;
  padding-top: 8vh;
  width: 100vw;
  height: 20vh;
  position: relative;
  color: white;
  // ================================================
.footerLinks{
  width: 100%;
  height: 5vh;
  font-size: 2.5vh;
  position: relative;
  &--profile{
    position: absolute;
      left: 40%;
  }
  &--skills,&--back{
    position: absolute;
      left: 50%;
  }
  &--works{
    position: absolute;
      left: 60%;
  }
  &--line{
    margin-top: 1vh;
    background-color: white;
    width: 2vw;
    height: 2px;
  }
}
  // ================================================
}