#header{
  position: fixed;
    top: 5vh;
    z-index: 100;
  font-size: 10px;
  color: black;
  .login{
    transform: rotate(45deg);
    margin: 5vh 0;
    &--signedOut{
      color: white;
    }
    &--signedIn{
      &:hover{
        font-weight: bold;
        background-color: $gray;
      }
    }
  }
  .menu{
    display: flex;
    flex-direction: column;
    &--contents,&--category{
      transform: rotate(45deg);
      margin-top: 5vh;
      &:hover{
        font-weight: bold;
        background-color: $gray;
      }
    }
  }
}
