#menu{
  .menuBtn{
    cursor: pointer;
    position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
    height: 10vh;
    width: 10vh;
    &--topBar,&--centerBar,&--underBar{
      background-color: $base3;
      transition-duration: 0.5s;
      position: absolute;
        left: 25%;
      width: 5vh;
      height: 0.5vh;
    }
    &--topBar{
      top: 30%;
    }
    &--centerBar{
      top: 50%;
    }
    &--underBar{
      top: 70%;
    }
  }
  .menuModal{
    background-color: $base2;
    padding:10vh 0 5vh 5vh ;
    width: 15vw;
    height: 30vh;
    border-radius: 20px 0 20px 20px;
    position: fixed;
      z-index: 1;
      top: 0;
      right: -50vw;
    &--profile,&--skills,&--works,&--top{
      cursor: pointer;
      height: 5vh;
      line-height: 5vh;
      margin-bottom: 1vh;;
      h2{
        font-size: 2vh;
        color: $base3;
      }
    }
  }
}









