#menu{
  // ================================================
  .menuBtn{
    position: fixed;
      z-index: 2;
      top: 1.5%;
      right: 1.5%;
    height: 40px;
    width: 30px;
    cursor: pointer;
    &--topBar,&--centerBar,&--underBar{
      background-color: $black;
      transition-duration: 0.5s;
      position: absolute;
      width: 30px;
      height: 3px;
    }
    &--topBar{
      top: 20%;
    }
    &--centerBar{
      top: 50%;
    }
    &--underBar{
      top: 80%;
    }
  }
  // ------------------------------------------------
  .menuModal{
    background-color: $dgray;
    box-shadow: 1vh 1vh $black;
    padding:8vh 0 3vh 5vh ;
    width: 15vw;
    max-height: 95vh;
    border-radius: 20px 0 20px 20px;
    overflow: scroll;
    position: fixed;
      z-index: 1;
      top: 0;
      right: -50vw;
    &__profile,&__skills,&__works,&__new,&__categories,&__contents,&--home{
      cursor: pointer;
      line-height: 5vh;
      margin-bottom: 1vh;
      position: relative;
      i{
        font-size: 2em;
        position: absolute;
          top: 1.5vh;
          left: 75%;
        transition-duration: 0.3s;
      }
      &--list{
        display: none;
        height: 3vh;
        line-height: 3vh;
        margin: 0.5vh 3vh 0;
        @include h4;
      }
    }
    &--signup{
      cursor: auto;
      width: 10px;
      height: 10px;
      position: absolute;
        top: 0;
        left: 0;
    }
  }
  // ================================================
}









