.topDisplay
  .topDisplay--opasity
    .wellcomeBox
      .wellcomeBox__message
        こんにちは。
        %br
        ポートフォリオです。
        %br
        ありがとうございます。
      .wellcomeBox__linkBtn
        =link_to "Wellcome!!","#",class:"wellcomeBtn"
      .topContent
        I'AM 
        %br
        KANATA
        %br
        OKAYAMA
