.header{
  z-index: 95;
  height: 80px;
  width: 100%;
  position: fixed;
    top:0;
  font-size: 20px;
  padding: 0 30px;
  background-color:rgba(0,0,0,0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .myName,.menuIcon{
    color: black;
    font-size: 20px;
    &:hover{
      color: gray;
    }
  }
}

.menuModalWrapper{
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
    top: 0;
  display: none;
  z-index: 100;
  height:100vh;
  width:100vw;
  .menuModal{
    z-index: 100;
    border-radius: 50px;
    position: relative;
      top: 50%;
      left: 50%;
      transform: translateY(-50%)translateX(-50%);
    background-color:rgba(27, 27, 27, 0.95);
    height: 55vh;
    width: 55vh;
    display: flex;
    justify-content: space-between;
    .goTop,.closeIcon{
      margin: 6% 6% 0;
      font-size: 1.5em;
      color: white;
      &:hover{
        color:gray;
      }
    }
    dl{
      color: white;
      width: 40%;
      position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%)translateY(-40%);
      dt{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
        margin-top: 40px;
        &:hover{
          color: gray;
        }
      }
      dd{
        display: none;
      }
    }
  }
}
.menu__login__form{
  margin-left: -35%;
  margin-top: 10px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  background-color:rgba($color: gray, $alpha: 0.2);
}
.tab{
  width: 100%;
  height:40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  margin-top: 10px;
  background-color: rgba($color: gray, $alpha: 0.2);
  &:hover{
    color:gray;
  }
}