.indexPage{
  width: 100vw;
}

.topPhoto{
  background-color:white;
  width: 100vw;
  height: 100vh;
}

.hedding{
  margin-left: 50%;
    transform: translateX(-50%);
  width: 300px;
  text-align: center;
  font-size: 50px;
  border-bottom: solid 2px black;
}
