.topDisplay{
  background-image: url("/coffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &--opasity{
    background:rgba(255,255,255,0.5);
    height: 100%;
    position: relative;
  }
}
.topContent{
  font-size: 100px;
  font-weight: 50px;
  padding-left: 35%;
  position: absolute;
    top: 50%;
  transform: translateY(-50%);
}