#contentForm{
  width: 90vw;
  padding-top: 2vh;
  margin: 1vh auto;
// ================================================
  .top{
    background-color: $l_gray;
    height: 40vh;
    padding: 2vh 0;
    display: flex;
    justify-content: space-evenly;
    &__left{
      width: 40%;
      height: 100%;
      background-color: $gray;
    }
    &__right{
      width: 40%;
      height: 100%;
      &--name,&--link,&--git{
        input{
          width: 100%;
          height: 4vh;
          margin: 1vh 0;
        }
        textarea{
          margin-top: 0.5vh;
          width: 100%;
          height: 20vh;
        }
      }
      &--category{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        p{
          width: 100%;
          height: 3vh;
        }
        input{
          margin:0 0 0 15px;
          width: 20px;
          height: 20px;
        }
        label{
          height: 3vh;
        }
      }
    }
  }
// ------------------------------------------------
.infomation{
  padding:2vh 0;
  width: 100%;
  height: 50vh;
  background-color: $l_gray;
  margin-bottom: 2vh;
  &__previewBox{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    &--display{
      width: 18%;
      height: 95%;
      background-color: $gray;
    }
  }
  &__inputBox{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    &--form{
      width:19%;
      height:100%;
      text-align: center;
      input{
        width: 90%;
        margin-bottom: 1vh;
      }
      textarea{
        width: 90%;
        height: 19vh;
      }
    }
  }
}
.submit{
  text-align: center;
}
// ================================================
}