#index{
  width: 80vw;
  margin: 0 auto;
// top-contents------------------------------------------------
.top{
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  position: relative;
  &__nameBox{
    display: none;
    @include position-center;
    &--engineer{
      font-size: 20px;
      color: $gray;
    }
    &--myName{
      margin-top: 10px;
      font-size: 35px;
    }
  }
}
// profile------------------------------------------------
.profile{
  scroll-snap-align: start;
  padding-top: 8vh;
  width: 100%;
  // hedding------------------------------------------------
  &__hedding{
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    display: flex;
    justify-content: space-between;
    &--left{
      font-size: 3vh;
    }
    &--right{
      font-size: 2vh;
    }
  }
  // main------------------------------------------------
  &__main{
    margin:0 auto;
    width:80%;
    line-height: 4vh;
    font-size: 2vh;
    &__box{
      margin-bottom: 2vh;
      &--hedding{
        font-weight: bold;
      }
    }
  }
}
// slills================================================
.skills{
  padding-top: 8vh;
  scroll-snap-align: start;
  width: 100%;
  // background-color: red;
  &__hedding{
    // background-color: gray;
    width: 100%;
    height: 6vh;
    font-size: 3vh;
    line-height: 6vh;
  }
  &__topText{
    // background-color: blue;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
    line-height: 6vh;
    font-size: 2vh;
  }
  &__box{
    // background-color:green;
    margin: 5vh auto 0;
    width: 70%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    &__content{
      background-color: white;
      border: 1px solid $black;
      color: $black;
      border-radius: 10px;
      width: 15vh;
      height: 15vh;
      margin:2.5vh 2.5vh 2.5vh;
      display: flex;
      align-items: center;
      &--name{
        margin: 0 auto;
      }
      &:hover{
        width: 20vh;
        height: 20vh;
        margin: 0;
        font-size: 4vh;
        border: 3px solid $black;
      }
    }
  }
}
// works------------------------------------------------
.works{
  scroll-snap-align: start;
  padding-top: 8vh;
  width: 100%;
  &__hedding{
    width: 100%;
    font-size: 3vh;
  }
  &__contentsBox{
    margin: 3vh auto 10vh;
    width: 80%;
    height: 65vh;
    filter: grayscale(90%);
    position: relative;
    box-shadow: 0 0 5px $l_gray;
    &:hover{
      filter:grayscale(30%);
      box-shadow: 0 0 10px $gray;
    }
    &__photoBlock{
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
    &__textBlock{
      position: absolute;
        top: 10%;
        right: 5%;
      width: 35%;
      height: 80%;
      background-color: rgba(#ffffff , 0.9);
      border-radius: 5%;
      padding-left: 1vw;
      &--contentHedding{
        width: 100%;
        height: 8vh;
        line-height: 8vh;
        font-size: 3vh;
      }
      &__categoryWrapper{
        width: 100%;
        height: 4vh;
        line-height: 4vh;
        display: flex;
        justify-content: start;
        &--category{
          border-radius: 5px;
          margin-right: 3%;
          text-align: center;
          width: 20%;
          height: 100%;
          color: white;
        }
      }
      &--contentText{
        padding: 2vh 1vh 0;
        width: 100%;
        height: 70%;
        font-size: 2vh;
        line-height: 4vh;
        word-break: break-all;
      }
    }
  }
}
// ================================================
}
