#index{
  background-color: $base1;
  width: 100vw;
  overflow: hidden;
// top-contents================================================================================================
.top{
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  position: relative;
  &__text1,&__text2,&__text3{
    position: absolute;
      transform: translateY(-50%);
      left: 0;
    .underLine{
      background-color: black;
      position: absolute;
        bottom: 5%;
        width: 0%;
      height: 100%;
    }
    h1{
      font-size:80px ;
    }
  }
  &__text1{
      top: 40%;
  }
  &__text2{
      top: 50%;
  }
  &__text3{
      top: 60%;
  }
}
// profile================================================================================================
.profile{
  margin: 0 auto;
  width: 90vw;
  position: relative;
// hedding------------------------------------------------
  &__hedding{
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    font-size: 5vh;
  }
// main------------------------------------------------
  &__main{
    background-color: $base3;
    margin-bottom: 10vh;
    border-radius: 20px;
    width: 100%;
    height: 70vh;
    position: relative;
    &__imageWrapper{
      position: absolute;
        left: 50%;
        top: 3%;
        transform: translateX(-50%);
      background-color: $base1;
      border-radius: 50%;
      height: 30vh;
      width: 30vh;
      img{
        @include position-center;
        border-radius: 50%;
        height: 99%;
      }
    }
    &__btn{
      cursor: pointer;
      border: solid 1px $base1;
      border-radius: 50%;
      height: 7vh;
      width: 7vh;
      overflow: hidden;
      position: absolute;
        top: 50%;
        transform: translateY(-50%);
      i{
        @include position-center;
        color: $base1;
        font-size: 3em;
        -webkit-text-stroke: 3.5px $base3;
      }
    }
    .next{
      right: 3%;
    }
    .prev{
      left: 3%;
    }
    &__textHeader{
      position: absolute;
        top: 35%;
        left: 13%;
      width: 80%;
      height: 8vh;
      line-height: 8vh;
      li{
        display: none;
        color: $base2;
        font-family: "roboto";
        font-size: 40px;
      }
    }
// contents------------------------------------------------
    &__lowerBox{
      position: absolute;
        top: 72%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
      width: 70%;
      height: 30vh;
      &__wrapper{
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        font-family: "roboto";
        &__introduceA1,&__introduceA2,&__introduceB1,&__introduceB2,&__introduceB3{
          position: absolute;
            top: 50%;
            transform: translateX(-50%)translateY(-50%);
          &--heading{
            font-weight: 500;
            font-size: 18px;
            width: 100%;
            line-height: 4vh;
            span{
              color: $base1;
            }
          }
          &--text{
            font-weight: 400;
            margin-top: 2vh;
            width: 100%;
            height: 12vh;
            line-height: 4vh;
          }
        }
        &__introduceA1,&__introduceA2{
          height: 30vh;
          width: 40%;
        }
        &__introduceA1{
          left: 25%;
        }
        &__introduceA2{
          left: 75%;
        }
        &__introduceB1,&__introduceB2,&__introduceB3{
          height: 30vh;
          width: 28%;
        }
        &__introduceB1{
          left: 15%;
        }
        &__introduceB2{
          left: 50%;
        }
        &__introduceB3{
          left: 85%;
        }
      }
    }
// circles------------------------------------------------
    &__circleBox{
      position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      width: 8%;
      height: 10vh;
      display: flex;
        justify-content: space-around;
        align-items: center;
      &--circle{
        border-radius: 50%;
        height: 1vh;
        width: 1vh;
        background-color: $base1;
      }
      .active{
        height: 1.5vh;
        width: 1.5vh;
        background-color: $base3;
        border: 2px solid $base1;
      }
    }
  }
}
// slills================================================================================================
.skills{
  width:90vw;
  margin: 0 auto;
  &__hedding{
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    font-size: 5vh;
  }
// ------------------------------------------------
  &__main{
    background-color: $base3;
    margin-bottom: 10vh;
    border-radius: 20px;
    width: 100%;
    height: 65vh;
    position: relative;
// upper------------------------------------------------
    &__upperBlock{
      // background-color: red;
      position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
      width: 72vw;
      height: 26vh;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      &__contentBox{
        display: inline-block;
        width: 13vw;
        margin-right: 1vw;
        &--icon{
          background-color: $base1;
          border-radius: 50%;
          margin: 0 auto;
          width: 10vw;
          height: 10vw;
          position: relative;
          .svgIcon{
            @include position-center;
            width: 20%;
            fill: $base3;
          }
        }
        &--name{
          width: 13vw;
          height: 5vh;
          line-height: 5vh;
          text-align: center;
        }
      }
    }
// lower------------------------------------------------
    &__lowerBlock{
      position: absolute;
        top: 95%;
        left: 140%;
        transform:translateX(-50%)translateY(-50%);
      width: 55vw;
      height: 40vh;
      border-radius: 20px;
      background-color: $base2;
      &--name{
        // background-color: white;
        margin: 1vh 0 0 2vh;
        height: 10vh;
        line-height: 10vh;
      }
      &__content{
        // background-color: #fff;
        margin: 0 auto 1vh;
        width: 80%;
        height: 8vh;
        position: relative;
        &--leftCircle{
          position: absolute;
            top: 50%;
            left: 2vh;
            transform: translateX(-50%)translateY(-50%);
          width: 0.5vh;
          height: 0.5vh;
          border-radius: 50%;
          background-color: $base2;
          border: solid 2px $base3;
        }
        &--centerName{
          position: absolute;
            top: 50%;
            left: 4vh;
            transform: translateY(-50%);
          width: 50%;
          height: 7vh;
          line-height: 7vh;
          font-size: 2vh;
          font-family: "roboto";
          font-weight: 400;
          color:$base3;
        }
        &__rightBtn{
          border-radius: 4vh;
          position: absolute;
            right: 0;
          height: 7vh;
          width: 18vw;
          background-color: $base3;
          &--text{
            line-height: 7vh;
            margin-left: 1.5vw;
          }
          &--icon{
            position: absolute;
              top: 50%;
              right: 0.5vh;
              transform:translateY(-50%);
            width: 6vh;
            height: 6vh;
            border-radius: 50%;
            border: solid 1px $base2;
            overflow: hidden;
            i{
              @include position-center;
              color: $base2;
              font-size: 3em;
              -webkit-text-stroke: 3.5px $base3;
            }
          }
        }
      }
    }
// other------------------------------------------------
    &__otherBlock{
      position: absolute;
        bottom: 10%;
        left: 15%;
      width:20%;
      &--heading{
        height: 8vh;
        line-height: 8vh;
      }
      &__contentBox{
        display: flex;
        &__content{
          width: 100%;
          height: 10vh;
          position: relative;
          &--icon{
            height: 5vh;
            width: 5vh;
            margin: 0 auto;
            border-radius: 50%;
            background-color: $base2;
            position: relative;
            .svgIcon{
              @include position-center;
              width: 50%;
              fill: $base3;
            }
          }
          &--name{
            display: none;
            position: absolute;
              top: 6vh;
              left: 50%;
              transform: translateX(-50%);
            text-align: center;
            width: 4vw;
          }
        }
      }
    }
  }
}
// works================================================================================================
.works{
  width:90vw;
  margin: 0 auto;
  &__hedding{
    width: 100%;
    height: 15vh;
    line-height: 15vh;
    font-size: 5vh;
  }
  &__contentsBox{
    margin:0 auto;
    width: 85%;
    // photoblock------------------------------------------------
    &__photoBlock{
      width: 100%;
      height: 50vh;
      position: relative;
      overflow: hidden;
      img{
        width:100%;
        height:100%;
        @include position-center;
      }
      &--filter{
        display: none;
        @include position-center;
        width: 45vh;
        height: 45vh;
        line-height: 45vh;
        text-align: center;
        cursor: pointer;
        font-size: 3vh;
        color: $black;
        background-color: rgba($color: white, $alpha: 0.95);
        border: $black solid 0.5px;
      }
    }
    // textblock------------------------------------------------
    &__textBlock{
      width: 100%;
      height: 20vh;
      display: none;
      &__left{
        width: 73.5%;
        &--name{
          height:12vh;
          line-height: 12vh;
          font-size: 2.7vh;
          font-weight: bold;
        }
        table{
          width: 100%;
          height: 8vh;
          font-size: 1.5vh;
          th{
            text-align: start;
            width: 20%;
          }
          td{
            color: $gray;
          }
        }
      }
      &__right{
        width: 26.5%;
        position: relative;
      }
    }
  }
}

.separateLine{
  width: 100vw;
  height: 1px;
  background-color: $gray;
  margin-top: 8vh;
}
// ================================================
}
// ================================================
