#index{
  width: 80vw;
  margin: 0 auto;
// top-contents================================================================================================
.top{
  width: 100%;
  height: 100vh;
  position: relative;
  &__nameBox{
    @include animation-blur;
    @include position-center;
    &--engineer{
      font-size: 20px;
      color: $gray;
    }
    &--myName{
      margin-top: 10px;
      font-size: 35px;
    }
  }
}
// main================================================================================================
.main{
  display: none;
// profile================================================
.profile{
  width: 100%;
  // hedding------------------------------------------------
  &__hedding{
    padding-top: 8vh;
    text-align: center;
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    font-size: 5vh;
  }
  // tables------------------------------------------------
  &__tables{
    padding-top: 10vh;
    width:100%;
    line-height: 4vh;
    font-size: 2vh;
    text-align: center;
    // background-color: gray;
    table{
      width: 40%;
      margin: 3vh auto;
    }
    th{
      font-weight: bold;
    }
  }
  &__moreBtn{
    width: 18vw;
    height:10vh;
    margin-left: auto;
    position: relative;
  }
}
// slills================================================
.skills{
  padding-top: 8vh;
  width: 100%;
  text-align: center;
  &__hedding{
    width: 100%;
    height: 6vh;
    font-size: 5vh;
    line-height: 6vh;
    margin-bottom: 5vh;
  }
  &__topText{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2vh;
    line-height: 4vh;
    font-size: 2vh;
  }
  &__box{
    margin: 5vh auto 0;
    width: 101vh;
    display: flex;
      justify-content: left;
      flex-wrap: wrap;
      align-items: center;
    position: relative;
    &__content{
      background-color: gray;
      border-radius: 100%;
      width: 15vh;
      height: 15vh;
      margin: 5vh;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      &--name{
        font-size: 3vh;
        color: white;
        position: absolute;
          bottom: 5%;
          right: 100%;
          z-index: 3;
      }
      img{
        @include position-center;
          z-index: 3;
        filter: brightness(0) invert(1);
        width: 5vh;
        height: 5vh;
      }
    }
    .colorLabel{
      width: 101vw;
      height: 100%;
      position: absolute;
        z-index: 5;
        left: -125vw;
    }
    .modal{
      width: 101vw;
      height: 100%;
      background-color:$l_gray;
      position: absolute;
        z-index: 6;
        left: -125vw;
      &__topName{
        position: absolute;
          top: 12%;
          left: 50%;
          transform: translateX(-50%)translateY(-50%);
          z-index: 8;
        font-size: 3vh;
      }
      &__undoBtn{
        position: absolute;
          top: 6%;
          left: 67%;
          transform: translateX(-50%)translateY(-50%);
          z-index: 8;
        font-size: 3em;
        transform: rotate(45deg);
        transition-duration: 0.5s;
        -webkit-text-stroke: 7px white;
      }
      &__linkBox{
        position: absolute;
        padding-top: 10vh;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
        width: 40%;
        height: 90%;
        background-color: white;
        &__content{
          width: 75%;
          height: 5vh;
          line-height: 5vh;
          margin: 1vh auto;
          position: relative;
          &--circle{
            position: absolute;
              top: 50%;
              left: 6%;
              transform: translateY(-50%)translateX(-50%);
              border-radius: 50%;
            filter: brightness(0) invert(0.5);
            width: 1vh;
            height: 1vh;
          }
          &--name{
            position: absolute;
              top: 0;
              left: 6vh;
            text-align: left;
            width: 60%;
            height: 5vh;
            // background-color: blue;
          }
          &--arrow{
            position: absolute;
              top: 0;
              right: 0;
            width: 6vh;
            height: 5vh;
            font-size: 2em;
            overflow: hidden;
            i{
              -webkit-text-stroke: 3.3px white;
              position: absolute;
                top: 50%;
                right: 30%;
                transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}
// works================================================================================================
.works{
  padding-top: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hedding{
    width: 100%;
    text-align: center;
    font-size: 5vh;
  }
  &__contentsBox{
    margin-top: 8vh;
    width: 85%;
    // photoblock------------------------------------------------
    &__photoBlock{
      width: 100%;
      height: 50vh;
      position: relative;
      overflow: hidden;
      img{
        width:100%;
        height:100%;
        @include position-center;
      }
      &--filter{
        display: none;
        @include position-center;
        width: 45vh;
        height: 45vh;
        line-height: 45vh;
        text-align: center;
        cursor: pointer;
        font-size: 3vh;
        color: $black;
        background-color: rgba($color: white, $alpha: 0.95);
        border: $black solid 0.5px;
      }
    }
    // textblock------------------------------------------------
    &__textBlock{
      width: 100%;
      height: 20vh;
      display: none;
      &__left{
        width: 73.5%;
        &--name{
          height:12vh;
          line-height: 12vh;
          font-size: 2.7vh;
          font-weight: bold;
        }
        table{
          width: 100%;
          height: 8vh;
          font-size: 1.5vh;
          th{
            text-align: start;
            width: 20%;
          }
          td{
            color: $gray;
          }
        }
      }
      &__right{
        width: 26.5%;
        position: relative;
      }
    }
  }
}
.separateLine{
  width: 100vw;
  height: 1px;
  background-color: $gray;
  margin-top: 8vh;
}
// ================================================
}
// ================================================
}

.linkBtn{
  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  width: 18vw;
  height: 7.5vh;
  line-height: 7.5vh;
  padding: 0 1vw;
  border: solid 0.1px $black;
  p{
    font-size: 1vh;
  }
  .arrow{
    position: absolute;
      top: 50%;
      right: 1%;
      transform:translateY(-50%);
    width: 14%;
    height: 100%;
    font-size: 2em;
    overflow: hidden;
    i{
      -webkit-text-stroke: 3.3px white;
      position: absolute;
        top: 50%;
        right: 30%;
        transform: translateY(-50%);
    }
  }
}