#show{
  height: 100vh;
  width: 100vw;
// ================================================
.header{
  width:100%;
  height:10vh;
}
.contentBox{
  height: 80vh;
  width: 100vw;
  // background-color:blue;
  &__image{
    display: none;
    box-shadow: 0 0 5px $gray;
    margin: 0 auto;
    height: 100%;
    width: 80%;
  }
  #active{
    display: block;
  }
}
.btnWrapper{
  margin: 0 auto;
  width: 10vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--btn{
    width: 2vh;
    height: 2vh;
    border-radius: 100%;
    background-color: $gray;
  }
  #selected{
    background-color: $black;
    width: 3.5vh;
    height: 3.5vh;
  }
}
// ================================================
}
