#show{
  height: 100vh;
  width: 100vw;
  position: relative;
// ================================================================================================
.header{
  width:90%;
  height:10vh;
  margin: 0 auto;
  font-size: 3vh;
  line-height: 10vh;
  display: flex;
  justify-content: flex-end;
  &--name{
    margin-right: auto;
  }
  &--link,&--git{
    margin-left: 2vw;
    height: 7vh;
    &:hover{
      border-bottom: solid 1px $black;
    }
  }
}
// ------------------------------------------------
.slide{
  width: 85vw;
  margin:0 auto;
  display: flex;
  @include position_center;
  .back{
    margin :0 auto 0 0;
    display: none;
  }
  .next{
    margin: 0 0 0 auto;
  }
  i{
    font-size: 4em;
    color:$gray;
    -webkit-text-stroke: 0.15em white;
    &:hover{
      color:$black;
      -webkit-text-stroke: 0.1em white;
    }
  }
}
// ------------------------------------------------
.contentBox{
  height: 70vh;
  width: 90vw;
  margin: 2vh auto;
  &__image{
    display: none;
    box-shadow: 0 0 15px $gray;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    img{
    height: 100%;
    width: 100%;
    }
  }
  .active{
    display: block;
  }
}
// ------------------------------------------------
.btnWrapper{
  margin: 4vh auto 1vh;
  width: 8vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--btn{
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 100%;
    background-color: $l_gray;
    transition-duration: 0.5s;
    &:hover{
      width: 2vh;
      height: 2vh;
      background-color: $gray;
    }
  }
  .active{
    background-color: $black;
    width: 3.5vh;
    height: 3.5vh;
  }
}
// ================================================
}
