.footer
  .linkList
    %ul.products
      Products
      %li.products__shopSite
        =link_to "ShopSite","#",class:"products__shopSite--shopLink"
      %li.products__application
        =link_to "Application","#",class:"products__application--applicationLink"
    %ul.skills
      Skills
      %li.skills__resume
        =link_to "Resume","#",class:"skills__resume--resumeLink"
      %li.skills__programming
        =link_to "Programming","#",class:"skills__programming--programmingLink"
    %ul.about
      About
      %li.about__profile
        =link_to "Profile","#",class:"about__profile--profileLink"
      %li.about__other
        =link_to "Other","#",class:"skills__other--otherLink"
  .footer__myName
    Kanata Okayama